version: "3.8"

services:
  web:
    container_name: ${ODOO_CONTAINER_NAME}
    build:
      context: .
      dockerfile: Dockerfile
    image: odoo:${ODOO_VERSION}-custom
    depends_on:
      - db
    ports:
      - "${ODOO_PORT}:8069"
    volumes:
      - ${ODOO_CONF}:/etc/odoo
      - ${ODOO_SERVER}:/mnt/odoo
      - ${ENTERPRISE}:/mnt/enterprise
      - ${EXTRA_ADDONS}:/mnt/extra-addons
    command: ["/mnt/odoo/odoo-bin", "-c", "/etc/odoo/odoo.conf"]
    environment:
      - HOST=db
      - USER=${PG_USER}
      - PASSWORD=${PG_PASSWORD}
    networks:
      - odoo_net
    restart: unless-stopped

  db:
    container_name: ${PG_CONTAINER_NAME}
    image: postgres:${PG_VERSION}
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${PG_PORT}:5432"
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo_net
    restart: unless-stopped

volumes:
  odoo-web-data:
  odoo-db-data:

networks:
  odoo_net:
    driver: bridge

