version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: odoo-v19-prod-ynayku:latest
    depends_on:
      - db
    ports:
      - "${ODOO_PORT}:8069"
    volumes:
      - ${ODOO_CONF}:/etc/odoo
      - odoo-web-data:/var/lib/odoo
      - ${ENTERPRISE}:/mnt/enterprise
      - ${EXTRA_ADDONS}:/mnt/extra-addons
    networks:
      - odoo_net

  db:
    image: postgres:${PG_VERSION}
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${PG_PORT}:5432"
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo_net

volumes:
  odoo-web-data:
  odoo-db-data:

networks:
  odoo_net:
    driver: bridge

