version: "3.8"

services:
  odoo18:
    container_name: odoo18
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db18
    ports:
      - "8018:8069"
    environment:
      - HOST=db18
      - USER=${PG18_USER:-odoo18}
      - PASSWORD=${PG18_PASSWORD:-odoo18}
    volumes:
      - odoo18-web-data:/var/lib/odoo
      - ${ODOO18_ADDONS:-./addons/18}:/mnt/extra-addons
    networks:
      - odoo-network

  db18:
    container_name: postgres18
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=${PG18_USER:-odoo18}
      - POSTGRES_PASSWORD=${PG18_PASSWORD:-odoo18}
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5418:5432"
    volumes:
      - odoo18-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo-network

networks:
  odoo-network:
    driver: bridge

volumes:
  odoo18-web-data:
  odoo18-db-data:
