version: "3.8"

services:
  # ==================== ODOO 17 ====================
  odoo17:
    container_name: odoo17
    image: odoo:17
    depends_on:
      - db17
    ports:
      - "8017:8069"
    environment:
      - HOST=db17
      - USER=${PG17_USER:-odoo17}
      - PASSWORD=${PG17_PASSWORD:-odoo17}
    volumes:
      - odoo17-web-data:/var/lib/odoo
      - ${ODOO17_ADDONS:-./addons/17}:/mnt/extra-addons
    networks:
      - odoo-network

  db17:
    container_name: postgres17
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=${PG17_USER:-odoo17}
      - POSTGRES_PASSWORD=${PG17_PASSWORD:-odoo17}
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5417:5432"
    volumes:
      - odoo17-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo-network

  # ==================== ODOO 18 ====================
  odoo18:
    container_name: odoo18
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db18
    ports:
      - "8018:8069"
    environment:
      - HOST=db18
      - USER=${PG18_USER:-odoo18}
      - PASSWORD=${PG18_PASSWORD:-odoo18}
    volumes:
      - odoo18-web-data:/var/lib/odoo
      - ${ODOO18_ADDONS:-./addons/18}:/mnt/extra-addons
    networks:
      - odoo-network

  db18:
    container_name: postgres18
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=${PG18_USER:-odoo18}
      - POSTGRES_PASSWORD=${PG18_PASSWORD:-odoo18}
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5418:5432"
    volumes:
      - odoo18-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo-network

  # ==================== ODOO 19 ====================
  odoo19:
    container_name: odoo19
    image: odoo:19-custom
    depends_on:
      - db19
    ports:
      - "8069:8069"
    environment:
      - HOST=db19
      - USER=${PG19_USER:-odoo19}
      - PASSWORD=${PG19_PASSWORD:-odoo19}
    volumes:
      - odoo19-web-data:/var/lib/odoo
      - ${ODOO19_ADDONS:-./addons/19}:/mnt/extra-addons
    networks:
      - odoo-network

  db19:
    container_name: postgres19
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=${PG19_USER:-odoo19}
      - PASSWORD=${PG19_PASSWORD:-odoo19}
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5419:5432"
    volumes:
      - odoo19-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo-network

networks:
  odoo-network:
    driver: bridge

volumes:
  odoo17-web-data:
  odoo17-db-data:
  odoo18-web-data:
  odoo18-db-data:
  odoo19-web-data:
  odoo19-db-data:
